/.env
.fun
.idea
template.*.yml
!template.override.yml
**/java/target/
*.iml
node_modules
.DS_Store
.settings
.classpath
.project
.vscode
*/dotnetcore/[Bb]in/
*/dotnetcore/[Oo]bj/
*/dotnetcore/[Oo]ut/